
<sly data-sly-resource="${'container' @ resourceType='anf-code-challenge/components/form/container'}">
    <sly data-sly-resource="${'first-name' @ resourceType='anf-code-challenge/components/form/text'}"/>
    <sly data-sly-resource="${'last-name' @ resourceType='anf-code-challenge/components/form/text'}"/>
    <sly data-sly-resource="${'age' @ resourceType='anf-code-challenge/components/form/text'}"/>
    <sly data-sly-resource="${'country' @ resourceType='anf-code-challenge/components/form/country'}"/>
    <sly data-sly-resource="${'submit' @ resourceType='anf-code-challenge/components/form/button'}"/>
</sly>